@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Black-FD.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Bold-FD.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Medium-FD.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Regular-FD.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Light-FD.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Thin-FD.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}