@use "environments" as env;
@use "reset-variables" as var;

.custom-logo-link {
    img {
        display: block;
    }
}
.required {
    color: env.$danger-color;
}
.select2-container .select2-selection--single {
    height: 39px;
    padding: 5px 0;
    border-color: #{var.$input-border-color};
    border-radius: 6px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}
.d-none {
    display: none !important;
}