@use "reset-variables" as var;

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html, body {
    width: 100%;
    margin: 0;
    direction: var.$body-direction;
}

body {
    font-family: var(--body-font-family, #{var.$body-font-family});
    font-size: var(--body-font-size, #{var.$body-font-size});
    font-weight: var(--body-font-weight, #{var.$body-font-weight});
    line-height: var(--body-line-height, #{var.$body-line-height});
    text-align: var(--body-text-align, #{var.$body-text-align});
    color: var(--body-color, #{var.$body-color});
    background-color: var(--body-bg, #{var.$body-background-color});
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    font-family: var(--heading-1-font-family, #{var.$heading-font-family});
    font-size: var(--heading-1-font-size, #{var.$heading-1-font-size});
    font-weight: var(--heading-1-font-weight, #{var.$heading-font-weight});
    line-height: var(--heading-1-line-height, #{var.$heading-line-height});
    text-align: var(--heading-1-text-align, #{var.$heading-text-align});
    color: var(--heading-1-color, #{var.$heading-color});
    margin: var(--heading-1-margin, #{var.$heading-margin});
}

h2 {
    font-family: var(--heading-2-font-family, #{var.$heading-font-family});
    font-size: var(--heading-2-font-size, #{var.$heading-2-font-size});
    font-weight: var(--heading-2-font-weight, #{var.$heading-font-weight});
    line-height: var(--heading-2-line-height, #{var.$heading-line-height});
    text-align: var(--heading-2-text-align, #{var.$heading-text-align});
    color: var(--heading-2-color, #{var.$heading-color});
    margin: var(--heading-2-margin, #{var.$heading-margin});
}

h3 {
    font-family: var(--heading-3-font-family, #{var.$heading-font-family});
    font-size: var(--heading-3-font-size, #{var.$heading-3-font-size});
    font-weight: var(--heading-3-font-weight, #{var.$heading-font-weight});
    line-height: var(--heading-3-line-height, #{var.$heading-line-height});
    text-align: var(--heading-3-text-align, #{var.$heading-text-align});
    color: var(--heading-3-color, #{var.$heading-color});
    margin: var(--heading-3-margin, #{var.$heading-margin});
}

h4 {
    font-family: var(--heading-4-font-family, #{var.$heading-font-family});
    font-size: var(--heading-4-font-size, #{var.$heading-4-font-size});
    font-weight: var(--heading-4-font-weight, #{var.$heading-font-weight});
    line-height: var(--heading-4-line-height, #{var.$heading-line-height});
    text-align: var(--heading-4-text-align, #{var.$heading-text-align});
    color: var(--heading-4-color, #{var.$heading-color});
    margin: var(--heading-4-margin, #{var.$heading-margin});
}

h5 {
    font-family: var(--heading-5-font-family, #{var.$heading-font-family});
    font-size: var(--heading-5-font-size, #{var.$heading-5-font-size});
    font-weight: var(--heading-5-font-weight, #{var.$heading-font-weight});
    line-height: var(--heading-5-line-height, #{var.$heading-line-height});
    text-align: var(--heading-5-text-align, #{var.$heading-text-align});
    color: var(--heading-5-color, #{var.$heading-color});
    margin: var(--heading-5-margin, #{var.$heading-margin});
}

h6 {
    font-family: var(--heading-6-font-family, #{var.$heading-font-family});
    font-size: var(--heading-6-font-size, #{var.$heading-6-font-size});
    font-weight: var(--heading-6-font-weight, #{var.$heading-font-weight});
    line-height: var(--heading-6-line-height, #{var.$heading-line-height});
    text-align: var(--heading-6-text-align, #{var.$heading-text-align});
    color: var(--heading-6-color, #{var.$heading-color});
    margin: var(--heading-6-margin, #{var.$heading-margin});
}

p {
    font-family: var(--paragraph-font-family, #{var.$paragraph-font-family});
    font-size: var(--paragraph-font-size, #{var.$paragraph-font-size});
    font-weight: var(--paragraph-font-weight, #{var.$paragraph-font-weight});
    line-height: var(--paragraph-line-height, #{var.$paragraph-line-height});
    text-align: var(--paragraph-text-align, #{var.$paragraph-text-align});
    color: var(--paragraph-color, #{var.$paragraph-color});
    margin: var(--paragraph-margin, #{var.$paragraph-margin});
}

a {
    display: var(--link-display, inline);
    font-weight: var(--link-font-weight, inherit);
    line-height: var(--link-line-height, inherit);
    color: var(--link-color, #{var.$link-color});
    padding: var(--link-padding, 0);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color, #{var.$link-hover-color});
}

ul,
ol {
    font-size: var(--list-font-size, inherit);
    font-weight: var(--list-font-weight, inherit);
    color: var(--list-color, inherit);
    list-style: var(--list-style, none);
    margin: var(--list-margin, 0);
    padding: var(--list-padding, 0);

    li {
        font-weight: var(--item-font-weight, inherit);
        color: var(--item-color, inherit);

        &:not(:last-child) {
            margin: var(--item-margin, 0);
        }
    }
}

b,
strong,
.strong {
    font-weight: 700;
}

svg {
    vertical-align: middle;
}

input:not([type="submit"]):not([type="checkbox"]), textarea, select {
    display: var(--input-display, #{var.$input-display});
    font-family: var(--input-font-family, #{var.$input-font-family});
    font-size: var(--input-font-size, #{var.$input-font-size});
    font-weight: var(--input-font-weight, #{var.$input-font-weight});
    line-height: var(--input-line-height, #{var.$input-line-height});
    text-align: var(--input-text-align, #{var.$input-text-align});
    color: var(--input-color, #{var.$input-color});
    background-color: var(--input-background-color, #{var.$input-background-color});
    border: var(--input-border-width, #{var.$input-border-width}) solid var(--input-border-color, #{var.$input-border-color});
    border-radius: var(--input-border-radius, #{var.$input-border-radius});
    width: var(--input-width, #{var.$input-width});
    padding: var(--input-padding, #{var.$input-padding});
    margin: var(--input-margin, #{var.$input-margin});
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: var(--input-box-shadow, none);
    background-clip: padding-box;
    appearance: none;
    resize: none;

    &:focus {
        color: var(--input-focus-color, #{var.$input-focus-color});
        border-color: var(--input-focus-border-color, #{var.$input-focus-border-color});
        outline: 0;
        box-shadow: 0 0 0 4px rgba(var(--input-focus-box-shadow-rgb, #{var.$input-focus-box-shadow-rgb}), 0.25);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #fff inset !important;
        -webkit-text-fill-color: var(--autofill-color, #{var.$input-autofill-color}) !important;
    }

    &:-webkit-autofill:disabled {
        --autofill-color: #{var.$input-disabled-autofill-color};
        pointer-events: none;
        opacity: 0.65;
    }
}

button, .button, input[type="submit"], a.added_to_cart {
    display: var(--button-display, #{var.$button-display});
    font-family: var(--button-font-family, #{var.$button-font-family});
    font-size: var(--button-font-size, #{var.$button-font-size});
    font-weight: var(--button-font-weight, #{var.$button-font-weight});
    line-height: var(--button-line-height, #{var.$button-line-height});
    text-align: var(--button-text-align, #{var.$button-text-align});
    text-decoration: none;
    color: var(--button-color, #{var.$button-color});
    background-color: var(--button-background-color, #{var.$button-background-color});
    border: var(--button-border-width, #{var.$button-border-width}) solid var(--button-border-color, #{var.$button-border-color});
    border-radius: var(--button-border-radius, #{var.$button-border-radius});
    padding: var(--button-padding, #{var.$button-padding});
    margin: var(--button-margin, #{var.$button-margin});
    cursor: pointer;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: var(--button-box-shadow, none);
    user-select: none;

    &.link-button {
        --button-color: inherit;
        --button-background-color: transparent;
    }
    &:not(.link-button) {
        &:focus {
            box-shadow: 0 0 0 4px rgba(var(--button-focus-box-shadow-rgb, #{var.$button-focus-box-shadow-rgb}), 0.25);
        }
        &:hover {
            color: var(--button-hover-color, #{var.$button-hover-color});
            background-color: var(--button-hover-background-color, #{var.$button-hover-background-color});
            border-color: var(--button-hover-border-color, #{var.$button-hover-border-color});
        }
        &:active {
            color: var(--button-active-color, #{var.$button-active-color});
            background-color: var(--button-active-background-color, #{var.$button-active-background-color});
            border-color: var(--button-active-border-color, #{var.$button-active-border-color});
        }
    }

    &:disabled, &.loading {
        pointer-events: none;
        opacity: 0.65;
    }
}

[class^="uil-"], [class*=" uil-"] {
    display: block;

    &::before {
        display: block;
    }
}