@use "environments" as env;
@use "breakpoints" as brk;

section.hero {
    width: env.$layout-max-width;
    margin: 0 auto;
}
section.features {
    width: env.$layout-max-width;
    margin: 42px auto;
}
.contact-page {
    width: env.$layout-max-width;
    margin: 42px auto 72px auto;
}
body.woocommerce-shop .content-area, body.woocommerce-page.archive .content-area {
    width: env.$layout-max-width;
    margin: 42px auto 72px auto;
}
.woocommerce-account .my-account-page {
    width: env.$layout-max-width;
    margin: 72px auto;
}
section.product-categories {
    width: env.$layout-max-width;
    margin: 72px auto;
}
section.hentry {
    width: env.$layout-max-width;
    margin: 72px auto;
}
.woocommerce-notices-wrapper {
    width: env.$layout-max-width;
}
.single-product .product.type-product {
    width: env.$layout-max-width;
    margin: 72px auto;
}
section.trending-products {
    width: env.$layout-max-width;
    margin: 72px auto;
}
header.site-header {
    margin-bottom: 24px;
}
.post-archive {
    width: env.$layout-max-width;
    margin: 0 auto 72px auto;
}
.latest-posts {
    width: env.$layout-max-width;
    margin: 0 auto 72px auto;
}
article.single-post {
    width: env.$layout-max-width;
    margin: 0 auto 72px auto;
}
.related-posts {
    width: env.$layout-max-width;
    margin: 0 auto 72px auto;
}
#comments {
    margin: 0 auto 72px auto;
}
.post-cards-grid-container,
#comments,
header.site-header .toolbar,
header.site-header .menu-header-menu-container ul,
footer.site-footer .inner-content {
    width: env.$layout-max-width;
}

@include brk.layout {
    .post-archive,
    .latest-posts,
    article.single-post,
    #comments,
    .single-product .product.type-product,
    .woocommerce-notices-wrapper,
    .woocommerce-account .my-account-page,
    section.hentry,
    body.woocommerce-shop .content-area,
    body.woocommerce-page.archive .content-area,
    .contact-page,
    .related-posts {
        width: 100%;
        padding: 0 24px;
    }
    .post-cards-grid-container,
    header.site-header .toolbar,
    header.site-header .menu-header-menu-container ul,
    footer.site-footer .inner-content {
        width: 100%;
    }
}
@include brk.mobile {
    .post-archive,
    .latest-posts,
    article.single-post,
    #comments,
    .woocommerce-notices-wrapper,
    .single-product .product.type-product,
    .woocommerce-account .my-account-page,
    section.hentry,
    body.woocommerce-shop .content-area,
    body.woocommerce-page.archive .content-area,
    .contact-page,
    .related-posts {
        padding: 0 16px;
    }
}