@use "environments" as env;
@use "breakpoints" as brk;

section.hero {
    width: env.$layout-max-width;
    margin: 0 auto;
}
section.features {
    width: env.$layout-max-width;
    margin: 42px auto;
}
section.trending-products {
    width: env.$layout-max-width;
    margin: 42px auto;
}
header.site-header {
    margin-bottom: 24px;
}
.post-archive {
    width: env.$layout-max-width;
    margin: 0 auto 42px auto;
}
.latest-posts {
    width: env.$layout-max-width;
    margin: 0 auto 42px auto;
}
section.single-post {
    width: env.$layout-max-width;
    margin: 0 auto 42px auto;
}
.related-posts {
    width: env.$layout-max-width;
    margin: 0 auto 42px auto;
}
#comments {
    margin: 0 auto 42px auto;
}
.post-cards-grid-container,
#comments,
header.site-header .toolbar,
header.site-header .menu-header-menu-container ul,
footer.site-footer .inner-content {
    width: env.$layout-max-width;
}

@include brk.layout {
    .post-archive,
    .latest-posts,
    section.single-post,
    #comments,
    .related-posts {
        width: 100%;
        padding: 0 24px;
    }
    .post-cards-grid-container,
    header.site-header .toolbar,
    header.site-header .menu-header-menu-container ul,
    footer.site-footer .inner-content {
        width: 100%;
    }
}
@include brk.mobile {
    .post-archive,
    .latest-posts,
    section.single-post,
    #comments,
    .related-posts {
        padding: 0 16px;
    }
}