@use "environments" as env;
@use "breakpoints" as brk;

article.single-post {
    .post-video {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56%;
        margin-bottom: 16px;

        iframe {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
    }
    .post-thumbnail {
        position: relative;
        margin-bottom: 16px;
        overflow: hidden;

        .wp-post-image {
            display: block;
            width: 100%;
        }
    }
}