@use 'sass:color';
@use "../wordpress-basics/environments" as env;
@use "../wordpress-basics/mixin";

$border-color: #00000040 !default;
$border-radius: 10px !default;

$padding: 8px !default;

li.product {
    position: relative;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    --link-display: block;
    --link-color: var(--primary-color);
    --link-hover-color: var(--primary-color);
    --button-display: block;
    --button-margin: 18px 0 0 0;
    --heading-2-font-size: 16px;
    --heading-2-margin: 10px 0;

    .star-rating {
        position: absolute;
        bottom: 40px;
        left: 14px;
    }
    .onsale {
        position: absolute;
        top: 0;
        left: 0;
        width: 52px;
        height: 52px;
        background-image: url('../images/sale.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffe500;
        font-size: 14px;
        font-weight: 500;
    }
    .attachment-woocommerce_thumbnail {
        display: block;
        width: 100%;
        height: auto;
        border-radius: $border-radius;
    }
    .woocommerce-loop-product__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 48px;
    }
    .price {
        height: 48px;
        display: block;

        del {
            display: block;
            color: env.$danger-color;
            font-size: 14px;
            font-weight: 500;
        }
        ins {
            display: block;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
        }
        bdi {
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            margin: 0 2px;
        }
    }
    .added_to_cart {
        position: absolute;
        bottom: $padding;
        left: $padding;
        right: $padding;
        z-index: 1;
        --button-background-color: #{env.$accent-color};
        --button-focus-box-shadow-rgb: #{mixin.to-rgb(env.$accent-color)};
        --button-hover-background-color: #{color.adjust(env.$accent-color, $lightness: 10%)};
        --button-active-background-color: #{color.adjust(env.$accent-color, $lightness: 10%)};
    }
}