@use "product-card";
@use "products-grid-container";
@use "site-popups";
@use "woo-comments";
@use "notice";
@use "account-page";
@use "basket-page";
@use "checkout-page";
@use "login-page";
@use "shop-page";

.star-rating {
    display: inline-block;
    position: relative;

    span {
        direction: ltr;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 0;
    }
}