@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Black-FD.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Bold-FD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Medium-FD.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Regular-FD.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Light-FD.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Thin-FD.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html, body {
  width: 100%;
  margin: 0;
  direction: rtl;
}

body {
  font-family: var(--body-font-family, Vazir, Vazir);
  font-size: var(--body-font-size, 16px);
  font-weight: var(--body-font-weight, 400);
  line-height: var(--body-line-height, 1.5);
  text-align: var(--body-text-align, right);
  color: var(--body-color, #000);
  background-color: var(--body-bg, #fff);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-family: var(--heading-1-font-family, Vazir, Vazir);
  font-size: var(--heading-1-font-size, 24px);
  font-weight: var(--heading-1-font-weight, 700);
  line-height: var(--heading-1-line-height, 1.5);
  text-align: var(--heading-1-text-align, right);
  color: var(--heading-1-color, #000);
  margin: var(--heading-1-margin, 0 0 16px 0);
}

h2 {
  font-family: var(--heading-2-font-family, Vazir, Vazir);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  line-height: var(--heading-2-line-height, 1.5);
  text-align: var(--heading-2-text-align, right);
  color: var(--heading-2-color, #000);
  margin: var(--heading-2-margin, 0 0 16px 0);
}

h3 {
  font-family: var(--heading-3-font-family, Vazir, Vazir);
  font-size: var(--heading-3-font-size, 18px);
  font-weight: var(--heading-3-font-weight, 700);
  line-height: var(--heading-3-line-height, 1.5);
  text-align: var(--heading-3-text-align, right);
  color: var(--heading-3-color, #000);
  margin: var(--heading-3-margin, 0 0 16px 0);
}

h4 {
  font-family: var(--heading-4-font-family, Vazir, Vazir);
  font-size: var(--heading-4-font-size, 16px);
  font-weight: var(--heading-4-font-weight, 700);
  line-height: var(--heading-4-line-height, 1.5);
  text-align: var(--heading-4-text-align, right);
  color: var(--heading-4-color, #000);
  margin: var(--heading-4-margin, 0 0 16px 0);
}

h5 {
  font-family: var(--heading-5-font-family, Vazir, Vazir);
  font-size: var(--heading-5-font-size, 14px);
  font-weight: var(--heading-5-font-weight, 700);
  line-height: var(--heading-5-line-height, 1.5);
  text-align: var(--heading-5-text-align, right);
  color: var(--heading-5-color, #000);
  margin: var(--heading-5-margin, 0 0 16px 0);
}

h6 {
  font-family: var(--heading-6-font-family, Vazir, Vazir);
  font-size: var(--heading-6-font-size, 12px);
  font-weight: var(--heading-6-font-weight, 700);
  line-height: var(--heading-6-line-height, 1.5);
  text-align: var(--heading-6-text-align, right);
  color: var(--heading-6-color, #000);
  margin: var(--heading-6-margin, 0 0 16px 0);
}

p {
  font-family: var(--paragraph-font-family, Vazir, Vazir);
  font-size: var(--paragraph-font-size, 16px);
  font-weight: var(--paragraph-font-weight, 400);
  line-height: var(--paragraph-line-height, 1.5);
  text-align: var(--paragraph-text-align, right);
  color: var(--paragraph-color, #000);
  margin: var(--paragraph-margin, 0 0 16px 0);
}

a {
  display: var(--link-display, inline);
  font-weight: var(--link-font-weight, inherit);
  line-height: var(--link-line-height, inherit);
  color: var(--link-color, #000);
  padding: var(--link-padding, 0);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color, #000);
}

ul,
ol {
  font-size: var(--list-font-size, inherit);
  font-weight: var(--list-font-weight, inherit);
  color: var(--list-color, inherit);
  list-style: var(--list-style, none);
  margin: var(--list-margin, 0);
  padding: var(--list-padding, 0);
}
ul li,
ol li {
  font-weight: var(--item-font-weight, inherit);
  color: var(--item-color, inherit);
}
ul li:not(:last-child),
ol li:not(:last-child) {
  margin: var(--item-margin, 0);
}

b,
strong,
.strong {
  font-weight: 700;
}

svg {
  vertical-align: middle;
}

input:not([type=submit]):not([type=checkbox]), textarea, select {
  display: var(--input-display, block);
  font-family: var(--input-font-family, Vazir, Vazir);
  font-size: var(--input-font-size, 16px);
  font-weight: var(--input-font-weight, 400);
  line-height: var(--input-line-height, 1.5);
  text-align: var(--input-text-align, rtl);
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: var(--input-border-width, 1px) solid var(--input-border-color);
  border-radius: var(--input-border-radius, 6px);
  width: var(--input-width, 100%);
  padding: var(--input-padding, 8px);
  margin: var(--input-margin, 0);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: var(--input-box-shadow, none);
  background-clip: padding-box;
  appearance: none;
  resize: none;
}
input:not([type=submit]):not([type=checkbox]):focus, textarea:focus, select:focus {
  color: var(--input-color);
  border-color: var(--input-focus-border-color);
  outline: 0;
  box-shadow: 0 0 0 4px rgba(var(--input-focus-border-rgb-color), 0.25);
}
input:not([type=submit]):not([type=checkbox]):-webkit-autofill, input:not([type=submit]):not([type=checkbox]):-webkit-autofill:hover, input:not([type=submit]):not([type=checkbox]):-webkit-autofill:focus, input:not([type=submit]):not([type=checkbox]):-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: var(--autofill-color, #484848) !important;
}
input:not([type=submit]):not([type=checkbox]):-webkit-autofill:disabled, textarea:-webkit-autofill:disabled, select:-webkit-autofill:disabled {
  --autofill-color: #c9c9c9;
  pointer-events: none;
  opacity: 0.65;
}

button, .button, input[type=submit], a.added_to_cart {
  display: var(--button-display, inline-block);
  font-family: var(--button-font-family, Vazir, Vazir);
  font-size: var(--button-font-size, 14px);
  font-weight: var(--button-font-weight, 500);
  line-height: var(--button-line-height, 1);
  text-align: var(--button-text-align, center);
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: var(--button-border-width, 0) solid var(--button-border-color);
  border-radius: var(--button-border-radius, 8px);
  padding: var(--button-padding, 10px 16px);
  margin: var(--button-margin, 0);
  cursor: pointer;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: var(--button-box-shadow, none);
  user-select: none;
}
button.button-block, .button.button-block, input[type=submit].button-block, a.added_to_cart.button-block {
  width: 100%;
  --button-display: block;
}
button.link-button, .button.link-button, input[type=submit].link-button, a.added_to_cart.link-button {
  --button-color: currentColor;
  --button-background-color: transparent;
}
button:not(.link-button):focus, .button:not(.link-button):focus, input[type=submit]:not(.link-button):focus, a.added_to_cart:not(.link-button):focus {
  box-shadow: 0 0 0 4px rgba(var(--button-background-rgb-color), 0.25);
}
button:not(.link-button):hover, .button:not(.link-button):hover, input[type=submit]:not(.link-button):hover, a.added_to_cart:not(.link-button):hover {
  color: var(--button-hover-color);
  background-color: var(--button-hover-background-color);
  border-color: var(--button-hover-border-color);
}
button:not(.link-button):active, .button:not(.link-button):active, input[type=submit]:not(.link-button):active, a.added_to_cart:not(.link-button):active {
  color: var(--button-active-color);
  background-color: var(--button-active-background-color);
  border-color: var(--button-active-border-color);
}
button:disabled, button.loading, .button:disabled, .button.loading, input[type=submit]:disabled, input[type=submit].loading, a.added_to_cart:disabled, a.added_to_cart.loading {
  pointer-events: none;
  opacity: 0.65;
}

[class^=uil-], [class*=" uil-"] {
  display: var(--icon-display, block);
  font-size: var(--icon-font-size, inherit);
  vertical-align: middle;
}
[class^=uil-]::before, [class*=" uil-"]::before {
  display: block;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

header.site-header .toolbar, header.site-header nav ul {
  margin: 0 auto;
}
header.site-header .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
header.site-header nav {
  background-color: var(--header-footer-color);
  --list-font-size: 14px;
  --list-font-weight: 500;
  --link-display: block;
  --link-color: #fff;
  --link-hover-color: #FFA200;
  --link-line-height: 1;
  --link-padding: 20px;
}
header.site-header nav ul {
  display: flex;
}
header.site-header nav a {
  position: relative;
}
header.site-header nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFA200;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s;
}
header.site-header nav a:hover::after {
  transform: scaleX(1);
}

footer.site-footer {
  padding: 32px 0 14px 0;
  background-color: var(--header-footer-color);
  --link-display: block;
  --link-color: #fff;
  --link-hover-color: #FFA200;
  --paragraph-color: #fff;
  --paragraph-font-size: 14px;
  --heading-3-color: #FFA200;
}
footer.site-footer .inner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
footer.site-footer .footer-widget-block {
  font-size: 14px;
  --paragraph-margin: 16px 0;
  --link-padding: 4px 0;
}
footer.site-footer .designer {
  flex: 0 0 100%;
  width: 100%;
  --link-display: inline-block;
  --link-color: #FFA200;
  --link-font-weight: 500;
  --paragraph-font-size: 12px;
  --paragraph-margin: 24px 0 0 0;
  --paragraph-text-align: center;
}

.drop-menu-container {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 10;
}
.drop-menu-container.dm-show .dm-popup {
  display: block;
}
.drop-menu-container .dm-popup {
  display: none;
  position: absolute;
  left: 0;
  width: var(--dm-popup-width, auto);
  padding: var(--dm-popup-padding, 0);
  background-color: var(--dm-popup-background, #fff);
  border: 1px solid var(--dm-popup-border-color, #000);
  border-radius: var(--dm-popup-border-radius, 8px);
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.4588235294);
  overflow: hidden;
}

#comments {
  --paragraph-font-size: 14px;
  --list-font-size: 14px;
}
#comments article {
  background-color: rgba(97, 58, 188, 0.05);
  border-width: 1px 3px 1px 1px;
  border-style: solid;
  border-color: #613abc;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 10px;
}
#comments .comment-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #613abc;
}
#comments .comment-meta .avatar {
  display: block;
  border-radius: 50%;
}
#comments .comment-meta .edit-link {
  display: inline-block;
  border: 1px solid #dc3545;
  padding: 0 12px;
  margin-right: 6px;
}
#comments .comment-meta .edit-link:active {
  transform: scale(0.95);
}
#comments .comment-content {
  margin-top: 10px;
}
#comments .comment-reply-link {
  display: inline-block;
  border: 1px solid #dc3545;
  padding: 0 12px;
}
#comments .comment-reply-link:active {
  transform: scale(0.95);
}
#comments .children {
  margin-right: 12px;
}

.pagination-container .nav-links, .comments-pagination .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 42px;
}
.pagination-container .page-numbers, .comments-pagination .page-numbers {
  display: block;
  padding: 6px 16px;
  border: 1px solid;
}
.pagination-container .page-numbers:not(.current):active, .comments-pagination .page-numbers:not(.current):active {
  transform: scale(0.95);
}

.post-cards-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 18px;
  margin: 0 auto;
}

.post-card {
  --line-clamp: 3;
  --heading-3-margin: 0;
  --paragraph-font-size: 14px;
}
.post-card .post-thumbnail {
  position: relative;
}
.post-card .post-thumbnail svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.post-card .post-thumbnail img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
.post-card .post-content {
  padding: 8px 6px 0;
}
.post-card .header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  --line-clamp: 2;
}
.post-card .header span {
  display: block;
  font-size: 12px;
  margin-top: 4px;
  color: rgba(33, 37, 41, 0.7490196078);
  white-space: nowrap;
}

article.single-post .post-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;
  margin-bottom: 16px;
}
article.single-post .post-video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
article.single-post .post-thumbnail {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
}
article.single-post .post-thumbnail .wp-post-image {
  display: block;
  width: 100%;
}

section.hero {
  width: 1340px;
  margin: 0 auto;
}

section.features {
  width: 1340px;
  margin: 42px auto;
}

.contact-page {
  width: 1340px;
  margin: 42px auto 72px auto;
}

body.woocommerce-shop .content-area, body.woocommerce-page.archive .content-area {
  width: 1340px;
  margin: 42px auto 72px auto;
}

.woocommerce-account .my-account-page {
  width: 1340px;
  margin: 72px auto;
}

section.product-categories {
  width: 1340px;
  margin: 72px auto;
}

section.hentry {
  width: 1340px;
  margin: 72px auto;
}

.woocommerce-notices-wrapper {
  width: 1340px;
}

.single-product .product.type-product {
  width: 1340px;
  margin: 72px auto;
}

section.trending-products {
  width: 1340px;
  margin: 72px auto;
}

header.site-header {
  margin-bottom: 24px;
}

.post-archive {
  width: 1340px;
  margin: 0 auto 72px auto;
}

.latest-posts {
  width: 1340px;
  margin: 0 auto 72px auto;
}

article.single-post {
  width: 1340px;
  margin: 0 auto 72px auto;
}

.related-posts {
  width: 1340px;
  margin: 0 auto 72px auto;
}

#comments {
  margin: 0 auto 72px auto;
}

.post-cards-grid-container,
#comments,
header.site-header .toolbar,
header.site-header .menu-header-menu-container ul,
footer.site-footer .inner-content {
  width: 1340px;
}

@media (max-width: 1388px) {
  .post-archive,
  .latest-posts,
  article.single-post,
  #comments,
  .single-product .product.type-product,
  .woocommerce-notices-wrapper,
  .woocommerce-account .my-account-page,
  section.hentry,
  body.woocommerce-shop .content-area,
  body.woocommerce-page.archive .content-area,
  .contact-page,
  .related-posts {
    width: 100%;
    padding: 0 24px;
  }
  .post-cards-grid-container,
  header.site-header .toolbar,
  header.site-header .menu-header-menu-container ul,
  footer.site-footer .inner-content {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .post-archive,
  .latest-posts,
  article.single-post,
  #comments,
  .woocommerce-notices-wrapper,
  .single-product .product.type-product,
  .woocommerce-account .my-account-page,
  section.hentry,
  body.woocommerce-shop .content-area,
  body.woocommerce-page.archive .content-area,
  .contact-page,
  .related-posts {
    padding: 0 16px;
  }
}
.custom-logo-link img {
  display: block;
}

.required, .wpforms-required-label {
  color: #dc3545;
}

.select2-container .select2-selection--single {
  height: 39px;
  padding: 5px 0;
  border-color: var(--input-border-color);
  border-radius: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 7px;
}

.d-none {
  display: none !important;
}

.wpforms-hidden {
  display: none;
}

.woocommerce-password-strength {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 700;
}
.woocommerce-password-strength.short, .woocommerce-password-strength.bad {
  color: #dc3545;
}
.woocommerce-password-strength.good {
  color: #fd7e14;
}
.woocommerce-password-strength.strong {
  color: #198754;
}

.form-field-password {
  position: relative;
  --input-padding: 8px 8px 8px 50px;
}
.form-field-password button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}
.form-field-password svg {
  fill: rgba(44, 44, 44, 0.5019607843);
}

li.product {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  padding: 8px;
  --link-display: block;
  --link-color: #613abc;
  --link-hover-color: #613abc;
  --button-display: block;
  --button-margin: 18px 0 0 0;
  --heading-2-font-size: 16px;
  --heading-2-margin: 10px 0;
}
li.product .star-rating {
  position: absolute;
  bottom: 40px;
  left: 14px;
}
li.product .onsale {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background-image: url("../images/sale.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe500;
  font-size: 14px;
  font-weight: 500;
}
li.product .attachment-woocommerce_thumbnail {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
li.product .woocommerce-loop-product__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
}
li.product .price {
  height: 48px;
  display: block;
}
li.product .price del {
  display: block;
  color: #dc3545;
  font-size: 14px;
  font-weight: 500;
}
li.product .price ins {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
li.product .price bdi {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 2px;
}
li.product .added_to_cart {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  z-index: 1;
  --button-background-color: #FFA200;
  --button-focus-box-shadow-rgb: 255, 162, 0;
  --button-hover-background-color: rgb(255, 180.6, 51);
  --button-active-background-color: rgb(255, 180.6, 51);
}

ul.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 323px));
  gap: 24px 16px;
}

.site-popups .dm-toggler {
  --button-padding: 10px 14px;
}
.site-popups .login-page-button {
  --link-padding: 10px 14px;
}
.site-popups .basket-popup {
  --dm-popup-width: 330px;
  --dm-popup-padding: 10px 0;
  --dm-popup-background: #1e1e1e;
  --dm-popup-border-color: trasparent;
  --paragraph-color: #fff;
}
.site-popups .basket-popup .widgettitle {
  display: none;
}
.site-popups .basket-popup .woocommerce-mini-cart {
  max-height: 292px;
  overflow: auto;
  --sb-track-color: trasparent;
  --sb-thumb-color: #ffa200;
  --sb-size: 4px;
}
.site-popups .basket-popup .woocommerce-mini-cart::-webkit-scrollbar {
  width: var(--sb-size);
}
.site-popups .basket-popup .woocommerce-mini-cart::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}
.site-popups .basket-popup .woocommerce-mini-cart::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}
.site-popups .basket-popup .mini_cart_item {
  color: #fff;
  position: relative;
  padding: 10px 16px;
  border-bottom: 1px solid #636363;
}
.site-popups .basket-popup .mini_cart_item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.site-popups .basket-popup .mini_cart_item .row-span {
  align-items: start;
  gap: 12px;
  --link-display: flex;
}
.site-popups .basket-popup .mini_cart_item h3 {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  --heading-3-font-size: 13px;
  --heading-3-font-weight: 400;
  --heading-3-color: #fff;
  --heading-3-matign: 0;
}
.site-popups .basket-popup .mini_cart_item .remove_from_cart_button {
  position: absolute;
  top: 6px;
  left: 8px;
  --link-padding: 0px 3px;
}
.site-popups .basket-popup .mini_cart_item .remove_from_cart_button svg {
  width: 18px;
}
.site-popups .basket-popup .mini_cart_item .remove_from_cart_button path {
  fill: #d9d9d9;
}
.site-popups .basket-popup .mini_cart_item .attachment-woocommerce_thumbnail {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border: 1px solid #fff;
  background-color: #fff;
}
.site-popups .basket-popup .mini_cart_item .quantity {
  position: absolute;
  left: 16px;
  bottom: 10px;
  font-size: 12px;
}
.site-popups .basket-popup .woocommerce-mini-cart__empty-message {
  padding: 16px;
  --paragraph-font-size: 14px;
  --paragraph-text-align: center;
  --paragraph-margin: 0;
}
.site-popups .basket-popup .woocommerce-mini-cart__total {
  padding: 16px;
  --paragraph-font-size: 14px;
  --paragraph-text-align: left;
  --paragraph-margin: 0;
}
.site-popups .basket-popup .woocommerce-mini-cart__buttons {
  display: flex;
  gap: 12px;
  padding: 10px 16px;
  --paragraph-margin: 0;
}
.site-popups .basket-popup .woocommerce-mini-cart__buttons a {
  flex: 1 0 0;
}
.site-popups .user-popup {
  --dm-popup-width: 170px;
  --dm-popup-padding: 12px;
  --dm-popup-background: #1e1e1e;
  --dm-popup-border-color: trasparent;
  --link-color: #fff;
  --link-hover-color: #fff;
  --link-display: block;
  --icon-display: inline-block;
  --icon-font-size: 18px;
}
.site-popups .user-popup .button-accent {
  --button-color: #000;
  --button-hover-color: #000;
  --button-active-color: #000;
  --button-border-radius: 3px;
  --button-padding: 5px 16px;
  --button-margin: 16px 0 0 0;
  --button-font-size: 13px;
}
.site-popups .user-popup .user-popup-inner {
  font-size: 14px;
}
.site-popups .user-popup .avatar {
  display: block;
  margin-bottom: 16px;
}
.site-popups .user-popup .avatar img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0px 5px #fff;
}

@supports not selector(::-webkit-scrollbar) {
  .site-popups .basket-popup .woocommerce-mini-cart {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
.woocommerce-Reviews .commentlist .comment_container {
  display: flex;
  align-items: start;
  gap: 16px;
  background-color: rgba(97, 58, 188, 0.05);
  border-width: 1px 3px 1px 1px;
  border-style: solid;
  border-color: #613abc;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 10px;
}
.woocommerce-Reviews .comment-reply-title {
  display: block;
  margin-bottom: 24px;
  --body-font-weight: 500;
}
.woocommerce-Reviews .stars {
  direction: ltr;
  --paragraph-margin: 4px 0 20px 0;
}
.woocommerce-Reviews .stars.selected a {
  background-image: url("../images/single-star.png");
}
.woocommerce-Reviews .stars a {
  background-image: url("../images/single-star-empty.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
  --link-display: inline-block;
  --link-color: #00000000;
  --link-hover-color: #00000000;
  --link-padding: 3px 7px 0 7px;
  --link-font-weight: 600;
}
.woocommerce-Reviews .stars a.active ~ a {
  background-image: url("../images/single-star-empty.png") !important;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  position: fixed;
  left: 24px;
  bottom: 24px;
  outline: 0;
  width: var(--notice-width, 320px);
  font-size: 13px;
  color: var(--notice-color);
  background: var(--notice-background);
  border: 1px solid var(--notice-border-color);
  padding: 10px;
  border-radius: 5px;
  animation: fadeOut 1s ease-out 8s forwards;
  z-index: 10;
  --button-display: block;
  --button-font-size: 12px;
  --button-padding: 7px 10px;
  --button-margin: 8px 0 0 0;
  --button-border-radius: 4px;
}

.woocommerce-message {
  --notice-background: #a8d99c;
  --notice-color: #486f42;
  --notice-border-color: #81ba73;
}

.woocommerce-info {
  --notice-background: #ffd044;
  --notice-color: #454545;
  --notice-border-color: #ffbf00;
}

.woocommerce-error {
  --notice-background: #ff9292;
  --notice-color: #7f0000;
  --notice-border-color: #ff6161;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 357px) {
  .woocommerce-message,
  .woocommerce-info,
  .woocommerce-error {
    left: 16px;
    --notice-width: calc(100% - 32px);
  }
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  border-bottom: 1px solid #ccc;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  display: flex;
  overflow-x: auto;
  background-color: rgba(97, 58, 188, 0.1);
  --link-display: block;
  --link-padding: 22px 16px 20px 16px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  position: relative;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(.is-active)::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #613abc;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  transform-origin: 50% 50%;
  transform: scaleX(0);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover::before {
  transform: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation .is-active a {
  border-bottom: 3px solid #613abc;
  --link-font-weight: 700;
}
.woocommerce-account .woocommerce-MyAccount-content {
  padding: 46px 24px 36px 24px;
  font-size: 14px;
  --paragraph-font-size: 14px;
  --input-font-size: 14px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-message, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-info, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-error {
  position: static;
  animation: none;
}
.woocommerce-account .woocommerce-MyAccount-content p:not(:empty) label {
  font-size: 13px;
  font-weight: 700;
  color: #4c4c4c;
}
.woocommerce-account .woocommerce-MyAccount-content em {
  font-style: normal;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}
.woocommerce-account .woocommerce-address-fields__field-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 24px;
}
.woocommerce-account #shipping_address_2_field, .woocommerce-account #billing_address_2_field {
  --paragraph-margin: 21px 0 16px 0;
}
.woocommerce-account .woocommerce-EditAccountForm {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 24px;
}
.woocommerce-account .woocommerce-EditAccountForm .clear {
  display: none;
}
.woocommerce-account .woocommerce-EditAccountForm fieldset {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 24px 0;
}
.woocommerce-account .woocommerce-Addresses .woocommerce-Address:first-child {
  margin-bottom: 24px;
}
.woocommerce-account .woocommerce-Addresses header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  --heading-2-font-size: 22px;
  --heading-2-margin: 0;
  --link-font-weight: 700;
}
.woocommerce-account .woocommerce-Addresses address {
  line-height: 1.5;
}
.woocommerce-account fieldset, .woocommerce-account .woocommerce-Addresses {
  border: 1px solid #8c8c8c;
  border-radius: 6px;
  padding: 24px;
  margin: 0;
}
.woocommerce-account fieldset legend, .woocommerce-account .woocommerce-Addresses legend {
  font-weight: 700;
  font-size: 22px;
  padding: 0 10px;
}
.woocommerce-account fieldset > p.form-row:last-child, .woocommerce-account .woocommerce-Addresses > p.form-row:last-child {
  margin: 0;
}
.woocommerce-account .woocommerce-orders-table {
  width: 100%;
  border-collapse: collapse;
}
.woocommerce-account .woocommerce-orders-table th, .woocommerce-account .woocommerce-orders-table td {
  padding: 8px;
  border: 1px solid #dee2e6;
}

.woocommerce-cart .woocommerce {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 330px);
  gap: 24px;
  --input-font-size: 14px;
}
.woocommerce-cart .woocommerce-notices-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
}
.woocommerce-cart .woocommerce-cart-form .shop_table {
  width: 100%;
  text-align: right;
  font-size: 14px;
  border: 1px solid #613abc;
  border-radius: 6px;
}
.woocommerce-cart .woocommerce-cart-form .shop_table th, .woocommerce-cart .woocommerce-cart-form .shop_table td {
  padding: 12px;
  border-bottom: 1px solid #613abc;
}
.woocommerce-cart .woocommerce-cart-form .shop_table thead {
  background-color: rgba(97, 58, 188, 0.1);
  white-space: nowrap;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .actions {
  background-color: rgba(97, 58, 188, 0.1);
  border-bottom-width: 0;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .product-remove .remove {
  color: #dc3545;
  font-size: 35px;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .attachment-woocommerce_thumbnail {
  width: 80px;
  height: auto;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .coupon {
  display: flex;
  --button-border-radius: 8px 0 0 8px;
  --input-border-radius: 0 6px 6px 0;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .coupon button {
  white-space: nowrap;
}
.woocommerce-cart .woocommerce-cart-form .shop_table button[name=update_cart] {
  display: block;
  margin-top: 24px;
  margin-right: auto;
}
.woocommerce-cart .cart_totals {
  background-color: rgba(97, 58, 188, 0.1);
  border: 1px solid #613abc;
  border-radius: 6px;
  padding: 12px;
  font-size: 14px;
  --heading-2-font-size: 18px;
}
.woocommerce-cart .cart_totals .shop_table {
  width: 100%;
}
.woocommerce-cart .cart_totals .shop_table td:last-child {
  padding: 8px;
  text-align: left;
}
.woocommerce-cart .cart_totals .button {
  display: block;
  width: 100%;
  margin-top: 12px;
}

form.woocommerce-checkout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 440px);
  gap: 36px;
  --input-font-size: 14px;
}
form.woocommerce-checkout #order_review_heading {
  display: none;
}
form.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 16px;
}
form.woocommerce-checkout .woocommerce-checkout-review-order {
  --paragraph-font-size: 14px;
}
form.woocommerce-checkout #billing_address_2_field {
  margin-top: 24px;
}
form.woocommerce-checkout .shop_table {
  font-size: 14px;
  width: 100%;
  background-color: rgba(97, 58, 188, 0.1);
  border: 1px solid #aaa;
  margin-bottom: 36px;
}
form.woocommerce-checkout .shop_table th, form.woocommerce-checkout .shop_table td {
  padding: 6px 4px;
  border-bottom: 1px solid #ccc;
}
form.woocommerce-checkout .shop_table tfoot tr:last-child th, form.woocommerce-checkout .shop_table tfoot tr:last-child td {
  border-width: 0;
}
form.woocommerce-checkout #place_order {
  display: block;
  width: 100%;
  --button-padding: 16px;
}

.login-page {
  height: 100%;
  min-height: 100vh;
  background-image: url("../images/login.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
  --paragraph-font-size: 14px;
}
.login-page #woocommerce-form-login,
.login-page #woocommerce-form-register,
.login-page #woocommerce-form-reset-password {
  display: none;
}
.login-page #woocommerce-form-login.form-active,
.login-page #woocommerce-form-register.form-active,
.login-page #woocommerce-form-reset-password.form-active {
  display: block;
}
.login-page p:empty {
  display: none;
}
.login-page .woocommerce-privacy-policy-link {
  border-bottom: 1px solid rgba(97, 58, 188, 0.5);
  --link-font-weight: 500;
  --link-color: #613abc;
  --link-hover-color: #FFA200;
}
.login-page .woocommerce {
  width: 320px;
  background-color: rgba(243, 243, 243, 0.7490196078);
  border: 1px solid #613abc;
  border-radius: 8px;
  padding: 16px;
}
.login-page label {
  display: block;
}
.login-page label:not([for=password]):not(.woocommerce-form__label-for-checkbox) {
  margin-bottom: 5px;
}
.login-page label[for=password] {
  margin-bottom: -11px;
}
.login-page label.woocommerce-form__label-for-checkbox {
  padding-right: 8px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}
.login-page label.woocommerce-form__label-for-checkbox input {
  margin: 0;
}
.login-page button[type=submit] {
  margin-top: 18px;
  --button-padding: 13px 16px;
}
.login-page .switchs-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #2c2c2c;
  --button-font-size: 13px;
}
.login-page nav ul {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --list-font-size: 14px;
  --list-font-weight: 500;
  --link-color: #613abc;
  --link-hover-color: #FFA200;
}

body.woocommerce-shop .content-area .woocommerce-result-count, body.woocommerce-page.archive .content-area .woocommerce-result-count {
  display: none;
}
body.woocommerce-shop .content-area .woocommerce-ordering, body.woocommerce-page.archive .content-area .woocommerce-ordering {
  border-bottom: 1px solid #aaa;
  margin-bottom: 32px;
  padding-bottom: 14px;
}
body.woocommerce-shop .content-area .woocommerce-ordering select, body.woocommerce-page.archive .content-area .woocommerce-ordering select {
  display: block;
  width: 264px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.314' height='11.314' viewBox='0 0 11.314 11.314'%3E%3Cpath d='M733,532.875h6v6' transform='translate(905.012 -135.853) rotate(135)' fill='none' stroke='%232c2c2c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px 12px;
  font-size: 14px;
  font-weight: 500;
  border-width: 2px;
}

.star-rating {
  display: inline-block;
  position: relative;
}
.star-rating span {
  direction: ltr;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.hero .content {
  position: absolute;
  top: 50%;
  right: 72px;
  transform: translateY(-64%);
  opacity: 0;
}
.hero img {
  display: block;
  width: 100%;
  border-radius: 12px;
}
.hero .swiper-slide-active .content {
  animation: moveDown 1s ease-in forwards;
}

@keyframes moveDown {
  0% {
    transform: translateY(-64%);
    opacity: 0;
  }
  100% {
    transform: translateY(-57%);
    opacity: 1;
  }
}
.features {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 0 32px;
  --heading-3-font-size: 15px;
  --heading-3-margin: 0 0 8px 0;
  --paragraph-font-size: 14px;
  --paragraph-margin: 0;
}
.features .card {
  display: flex;
  align-items: center;
  gap: 16px;
}
.features path {
  fill: #613abc;
}

.product-categories .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  gap: 32px;
  --heading-3-text-align: center;
  --heading-3-margin: 0;
}
.product-categories img {
  width: 100%;
  border-radius: 10px;
}

.single-product .product.type-product {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.7fr);
  gap: 32px;
}
.single-product .product.type-product .onsale {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background-image: url("../images/sale.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe500;
  font-weight: 500;
}
.single-product .product.type-product .woocommerce-product-gallery__wrapper {
  --link-display: block;
}
.single-product .product.type-product .woocommerce-product-gallery__wrapper img {
  width: 100% !important;
  height: auto;
  border: 1px solid #aaa;
}
.single-product .product.type-product .xzoom-thumbs {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 12px;
  margin-top: 12px;
}
.single-product .product.type-product .summary {
  display: flex;
  flex-direction: column;
  --paragraph-font-size: 14px;
  --heading-1-font-size: 22px;
  --paragraph-font-weight: 500;
}
.single-product .product.type-product .summary .price {
  margin-top: 38px;
  order: 5;
  text-align: left;
  --paragraph-font-size: 16px;
}
.single-product .product.type-product .summary del {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #dc3545;
}
.single-product .product.type-product .summary ins {
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin-top: 6px;
}
.single-product .product.type-product .product_title {
  order: 1;
  --heading-1-margin: 0;
}
.single-product .product.type-product .woocommerce-product-details__short-description {
  border-top: 1px solid #ccc;
  margin-top: 16px;
  padding-top: 16px;
  order: 3;
  --paragraph-line-height: 2;
}
.single-product .product.type-product form.cart {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 79px;
  order: 6;
  --button-border-radius: 8px 0 0 8px;
  --button-padding: 14px 16px;
}
.single-product .product.type-product form.cart input {
  width: 72px;
  margin-right: auto;
  --input-border-radius: 0 6px 6px 0;
}
.single-product .product.type-product form.cart select {
  width: 164px;
  --input-font-size: 13px;
  --input-margin: 0 8px 0 0;
}
.single-product .product.type-product form.cart .reset_variations {
  display: none !important;
}
.single-product .product.type-product .single_variation_wrap {
  display: flex;
  align-items: end;
  gap: 32px;
  margin-right: auto;
  --paragraph-font-size: 11px;
  --paragraph-margin: 8px 0 0 0;
}
.single-product .product.type-product .woocommerce-variation-add-to-cart {
  display: flex;
}
.single-product .product.type-product .product_meta {
  font-size: 13px;
  margin-top: 18px;
  order: 4;
  --link-display: inline-block;
}
.single-product .product.type-product .product_meta > span {
  display: block;
}
.single-product .product.type-product .product_meta > span:not(:last-child) {
  margin-bottom: 10px;
}
.single-product .product.type-product .product_meta a {
  margin-right: 4px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5019607843);
}
.single-product .product.type-product .woocommerce-product-rating {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1;
  order: 2;
}
.single-product .product.type-product .woocommerce-tabs {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 52px;
}
.single-product .product.type-product .woocommerce-tabs table {
  --paragraph-margin: 0;
}
.single-product .product.type-product ul.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  --link-display: block;
  --link-padding: 12px 26px;
  --link-line-height: 1;
  --item-margin: 0 0 0 8px;
  --list-padding: 0 12px 0 0;
}
.single-product .product.type-product ul.tabs li {
  transform: translateY(1px);
  background-color: #fff;
  border: 1px solid;
  border-color: #ccc #ccc #fff #ccc;
  border-radius: 8px 8px 0 0;
}
.single-product .product.type-product ul.tabs li.active {
  border-color: #613abc #613abc #fff #613abc;
  background-color: rgba(97, 58, 188, 0.1);
}
.single-product .product.type-product .woocommerce-Tabs-panel {
  padding: 42px 12px 0 12px;
}

.contact-page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 42px;
}

.wpforms-field-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px 4px 0;
}

.wpforms-field {
  margin-bottom: 16px;
}

.wpforms-submit {
  margin: 24px auto 0 0;
  --button-display: block;
  --button-padding: 14px 32px;
}

.wpforms-error {
  display: block;
  color: #dc3545;
  margin-top: 4px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
}